{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      <a class="social__link" href="{{ social.link }}" target="_blank" rel="noopener" title="{{ social.name }}">
        <img src="{{ social.icon }}" alt="{{ social.name }} icon" style="height: 20px; width: 20px; vertical-align: middle; border-radius: 4px;">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}